{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSameLine": false,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/globals.css",
  "tailwindFunctions": ["cn", "cva"],
  "overrides": [
    {
      "files": "*.md",
      "options": { "proseWrap": "preserve" }
    }
  ]
}
